* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@media screen and (max-width: 320px), (max-width: 360px) {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		overflow-x: hidden;
	}
}
.office-hrs {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #993b91;
	width: 100%;
	height: 30px;
	color: white;
}
header h1,
h2 {
	font-size: 15px;
	margin: 0 10px;
}
header hr {
	width: 20px;
	transform: rotate(90deg);
	background-color: white;
}
@media screen and (max-width: 767px) {
	header h1,
	h2 {
		font-size: 10px;
	}
}
nav {
	display: flex;
	justify-content: space-evenly;
	height: 4rem;
	position: relative;
	z-index: 1;
}
nav img {
	width: 6rem;
	margin: 10px 0 0 0;
}
nav ul {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 60px;
}
nav ul li {
	list-style: none;
	margin: 0 0 0 70px;
}
nav ul li a {
	text-decoration: none;
	color: black;
	font-family: "Josefin Sans", sans-serif;
}
nav ul button {
	margin: 0 0 0 60px;
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
	background-color: #993b91;
	color: white;
}
.bg img {
	width: 100%;
	height: 20rem;
	position: absolute;
	top: -2%;
}
@media screen and (max-width: 320px), (max-width: 360px) {
	nav ul {
		display: none;
	}
	.bg img {
		top: 0rem;
	}
}
main {
	background: url(./hero.gif);
	height: 84.5vh;
	background-size: cover;
}
main svg {
	height: 21rem;
	width: 30rem;
	position: relative;
	left: 50%;
	top: 4rem;
}
main .text {
	position: absolute;
	left: 58%;
	bottom: 11rem;
	text-align: center;
}
main .text h1 {
	font-size: 64px;
	letter-spacing: 2px;
	color: #993b91;
	font-family: "Lilita One", sans-serif;
	font-weight: 400;
}
main .text h2,
h3 {
	font-size: 20px;
	letter-spacing: 3px;
	font-family: "Josefin Sans", sans-serif;
}
main .text button {
	padding: 10px 10px;
	border: none;
	border-radius: 15px;
	background-color: #993b91;
	color: white;
	margin-top: 25px;
}
@media screen and (max-width: 320px), (max-width: 360px) {
	main svg {
		height: 15rem;
		width: 30rem;
		left: -15%;
		top: 0rem;
		margin: 10rem 0 0 0;
		opacity: 0.7;
	}
	main .text {
		left: 25%;
		top: 20rem;
	}
	main .text h1 {
		font-size: 40px;
	}
	main .text h2,
	h3 {
		font-size: 14px;
	}
}
@media screen and (max-width: 1024px) {
	main svg {
		width: 20rem;
		left: 56%;
		margin: -1.5rem 0 0 0;
	}
	main .text {
		top: 14rem;
	}
}
/* SERVICES SECTION*/
.services-text {
	text-align: center;
	margin: 60px 0 0 0;
	letter-spacing: 3px;
	font-family: "Lilita One", sans-serif;
}
.services-text p {
	color: #993b91;
	line-height: 30px;
	font-weight: 100;
}
.services-text h1 {
	font-size: 27px;
	font-weight: 300;
}
.service-cards {
	display: flex;
	margin: 60px 100px;
	gap: 20px;
	height: 40vh;
	letter-spacing: 1px;
}
.service-taxi {
	flex: 1;
	background-color: rgba(255, 0, 0, 0.224);
	border-radius: 25px;
	text-align: center;
}
.service-taxi svg {
	color: red;
	width: 3em;
	height: 3em;
	margin: 20px 0 8px 0;
}
.service-taxi h1 {
	font-size: 20px;
	color: red;
}
.service-taxi p {
	font-size: 14px;
	margin: 15px 0 0 0;
	width: 95%;
}
.service-sports {
	flex: 1;
	background-color: rgba(0, 0, 255, 0.243);
	border-radius: 25px;
	text-align: center;
}
.service-sports svg {
	color: blue;
	width: 3em;
	height: 3em;
	margin: 20px 0 8px 0;
}
.service-sports h1 {
	font-size: 20px;
	color: blue;
}
.service-sports p {
	font-size: 14px;
	margin: 15px 0 0 0;
	width: 95%;
}
.service-enviroment {
	flex: 1;
	background-color: rgba(172, 255, 47, 0.251);
	border-radius: 25px;
	text-align: center;
}
.service-enviroment svg {
	color: green;
	width: 3em;
	height: 3em;
	margin: 20px 0 8px 0;
}
.service-enviroment h1 {
	font-size: 20px;
	color: green;
}
.service-enviroment p {
	font-size: 14px;
	margin: 15px 0 0 0;
	width: 95%;
}
.service-teachers {
	flex: 1;
	background-color: rgba(0, 255, 255, 0.171);
	border-radius: 25px;
	text-align: center;
}
.service-teachers svg {
	width: 3em;
	height: 3em;
	margin: 20px 0 8px 0;
}
.service-teachers h1 {
	font-size: 20px;
	color: rgb(0, 132, 255);
}
.service-teachers p {
	font-size: 14px;
	margin: 15px 0 0 0;
	width: 95%;
}
@media screen and (max-width: 767px) {
	nav ul li {
		margin: 0 0 0 24px;
	}
	nav ul li a {
		font-size: 15px;
	}
	nav ul button {
		padding: 10px 10px;
		margin: 0 0 0 25px;
	}
	nav img {
		width: 5.5rem;
		margin: 10px 0 0 0;
	}
	/*main*/
	main {
		background-size: auto;
		background-repeat: no-repeat;
	}
	main svg {
		height: 17rem;
		width: 20rem;
		left: 44%;
		top: 3.5rem;
	}
	main .text {
		left: 51%;
		top: 12rem;
	}
	main .text h1 {
		font-size: 54px;
	}
	main .text h2,
	h3 {
		font-size: 15px;
	}
	/*service*/
	.service-cards {
		margin: 60px 40px;
		gap: 20px;
		height: 56vh;
	}
	.service-taxi h1,
	.service-sports h1,
	.service-enviroment h1,
	.service-teachers h1 {
		font-size: 15px;
	}
	.service-taxi p,
	.service-sports p,
	.service-enviroment p,
	.service-teachers p {
		font-size: 12px;
	}
	.service-taxi svg,
	.service-sports svg,
	.service-enviroment svg,
	.service-teachers svg {
		width: 2em;
		height: 2em;
	}
}
